:root {
	--fg-color: #040204;
	--bg-color: #fbf7f0;
	--bg-dim: #efe9dd;
	--border-color: #c5bdb4;
	--link-color: #310dbd;
	--link-visited: #9a2755;
	--link-focus: #9b0407;
	--header-bar: #f1d5d0;
	--header-btn: #f0c1cf;
	--bg-code: #ede7db;
	--sh-code: #cab9af;
	--font-size: 16px;
	--font-size-s: calc(var(--font-size) * 1.25 - 2px);
	--marg-vert: calc(var(--font-size) * 0.75);
	--marg-hori: calc(var(--font-size) * 0.5);
	--font-family: sans-serif;
	--box-shadow-1: var(--sh-code) 2px 2px 8px;
	--box-shadow-2: var(--sh-code) 0px 3px 10px;
}
@view-transition {
	navigation: auto;
}
html {
	font-size: var(--font-size);
	font-family: var(--font-family);
	line-height: 1.3;
	scrollbar-gutter: stable;
	background: var(--bg-dim);
}
body {
	color: var(--fg-color);
	background-color: var(--bg-color);
	max-width: calc(var(--font-size) * 50);
	margin-inline: auto;
	margin-block: 0;
	padding: 0 calc(var(--marg-hori) * 3) calc(var(--marg-vert) * 2);
	box-sizing: border-box;
}

h1 {
	font-size: calc(var(--font-size) * 2);
	font-weight: normal;
	text-align: center;
	border-bottom: 3px double var(--border-color);
	padding-bottom: var(--marg-hori);

	.subtitle {
		font-size: calc(var(--font-size) * 0.875);
		display: block;
		margin-top: calc(var(--marg-vert) * 0.75);
	}
}

h2 {
	font-size: calc(var(--font-size) * 1.5);
	font-weight: normal;
}

h3 {
	font-size: calc(var(--font-size) * 1.25);
	font-weight: normal;
}

h4 {
	font-size: calc(var(--font-size) * 1.125);
	font-weight: normal;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:link {color: var(--link-color);}
	&:visited {color: var(--link-visited);}
	&:focus {color: var(--link-focus);}
}

pre {
	background: var(--bg-code);
	padding: var(--marg-vert) calc(var(--marg-hori) * 2);
	box-sizing: border-box;
	border-radius: var(--marg-hori);
	box-shadow: var(--box-shadow-2);
	white-space: break-spaces;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	max-height: 480px;
}

.content p {
	text-align: justify;
}

.figure {
	margin: calc(var(--marg-vert) * 2) calc(var(--marg-hori) * 2);

	p {
		margin: 0;
		margin-top: var(--marg-vert);
		display: flex;
		justify-content: center;
	}
}

.figure-number {
	padding-right: calc(var(--font-size) * 0.25);
}

#text-recent-posts {
	margin-top: calc(var(--marg-vert) * -1);
	margin-bottom: calc(var(--marg-vert) * 2);

	table {
		width: 100%;

		tr {
			display: block;
			border: 1px solid var(--border-color);
			box-shadow: var(--box-shadow-1);
			margin-top: calc(var(--marg-vert) * 2);
			padding: var(--marg-vert) var(--marg-hori);
			border-radius: var(--marg-hori);
			background: var(--bg-code);
			cursor: pointer;

			&:hover {
				transform: scale(1.01);
				box-shadow: var(--box-shadow-2);
			}

			td {
				display: block;
			}
		}
	}
}

#preamble {
	position: sticky;
	top: 0;
	margin-inline: calc(var(--marg-hori) * -3);
	box-shadow: var(--box-shadow-1);
	background: var(--header-bar);
	display: flex;
	flex-flow: row wrap;

	#side-menu {
		display: none;

		&:checked {
			&+ .hamburger {
				span:before {
					top: calc(50% - 1px);
					transform: rotate(45deg);
				}
				span:after {
					bottom: calc(50% - 1px);
					transform: rotate(-45deg);
				}
			}
			&~ nav {
				display: block;
			}
		}
	}

	.title, .hamburger {
		flex: 1;
		padding: var(--marg-vert) var(--marg-hori);
		box-sizing: border-box;
	}

	.title {
		color: var(--fg-color);
		text-decoration: none;
	}

	.hamburger {
		flex: 0;
		cursor: pointer;
		text-align: right;

		&> span {
			display: block;
			margin-left: auto;
			width: calc(var(--marg-hori) * 2.5);
			height: 100%;
			position: relative;

			&:before, &:after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: var(--fg-color);
				position: absolute;
				transition: all .2s ease-out;
			}

			&:before {
				top: calc(var(--marg-vert) * 0.5)
			}
			&:after {
				bottom: calc(var(--marg-vert) * 0.5)
			}
		}
	}

	nav {
		display: none;
		flex: 0 0 100%;
		background: var(--header-bar);
		box-shadow: var(--sh-code) 2px 6px 6px;
	}

	menu {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		li {
			overflow: hidden;
			text-overflow: ellipsis;

			a {
				padding: var(--marg-vert) var(--marg-hori);
				background: var(--header-btn);
				color: var(--fg-color);
				text-decoration: none;
				display: block;
				min-width: 20px;
				text-align: center;
				border-radius: 20px;
				margin: var(--marg-vert) var(--marg-hori);
				box-shadow: var(--box-shadow-1);

				img {
					width: 14px;
				}

				&:hover {
					box-shadow: var(--box-shadow-2);
					transform: scale(1.02);
				}
			}
		}
	}

}

#postamble {
	font-size: calc(var(--font-size) * 0.75);

	p {
		margin: calc(var(--marg-vert) * 0.15) 0;
	}

	img {
		margin-left: calc(var(--marg-hori) * 0.5);
		height: calc(var(--font-size) * 1.25);
		vertical-align: middle;
		margin-top: -1px;
	}

	#badges {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		a {
			width: 88px;
			height: 100%;
			margin-left: 0;
			margin-right: var(--marg-hori);
			margin-top: var(--marg-vert);
			line-height: 0;

			&:hover {
				transform: scale(1.01);
			}

			img {
				margin: 0;
				vertical-align: initial;
				height: 100%;
			}
		}
	}
}

.sitemap .org-ul {
	list-style: none;
	padding: 0;

	li {
		display: block;
		font-size: calc(var(--font-size) - 2px);
		border: 1px solid var(--border-color);
		box-shadow: var(--box-shadow-1);
		margin-top: calc(var(--marg-vert) * 2);
		padding: var(--marg-vert) var(--marg-hori);
		border-radius: var(--marg-hori);
		background: var(--bg-code);
		cursor: pointer;

		&:hover {
			transform: scale(1.01);
			box-shadow: var(--box-shadow-2);
		}

		a {
			display: block;
			font-size: var(--font-size-s);
		}
	}
}

@media only screen and (min-width: 800px) {
	body {
		margin-block: calc(var(--marg-vert) * 2);
		box-shadow: var(--box-shadow-2);
		border-radius: var(--marg-hori);
		border: 1px solid var(--border-color);
		padding-top: calc(var(--marg-vert) * 2);

		#preamble {
			margin-inline: 0;
			top: calc(var(--marg-vert) * 2);
			border-radius: var(--marg-hori);
			border: 1px solid var(--border-color);

			ul {
				padding-inline: 0;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg-color: #fafefc;
		--bg-color: #0d0e1c;
		--bg-dim: #1d2235;
		--border-color: #4a4e64;
		--link-color: #5684c7;
		--link-visited: #dc91a6;
		--link-focus: #e76f83;
		--header-bar: #303a6f;
		--header-btn: #381d0f;
		--bg-code: #1d2235;
		--sh-code: #474c68;
	}
}

@media print {
	:root {
		--fg-color: black;
		--bg-color: white;
		--bg-dim: white;
		--link-color: black;
		--link-visited: black;
		--border-color: black;
		--bg-code: var(--bg-color);
		--sh-code: var(--bg-color);
		--font-family: serif;
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	a {
		font-style: italic;

		&:after {
			content:' <' attr(href) '>';
		}
	}

	pre {
		border: 1px solid var(--border-color)
	}

	#text-recent-posts table tr {
		border-radius: 0;
		box-shadow: none;

		&:hover {
			box-shadow: none;
			transform: none;
		}
	}

	.sitemap .org-ul li {
		border-radius: 0;
		box-shadow: none;

		&:hover {
			box-shadow: none;
			transform: none;
		}
	}

	#preamble {
		display: none;
	}

	#postamble #badges {
		display: none;
	}
}
